.nameStyle {
    cursor: pointer;
    font-weight: bold;
    color: #1F618D;
    font-size: 120%;
}
.mailStyle {
    font-weight: bold;
    color: #1F618D;
    font-size: 100%;
}

.profileOptions{
    text-decoration: none;
    color: black;
}
.profileOptions:hover{
    background-color: #1F618D;
    color: #fff;
    cursor: pointer
}

.titleStyle {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.802);
    font-size: 110%;
    font-weight: bold;
}
.titleStyle:hover {
    color: #1F618D;
    cursor: pointer;
}

.resumeStyle{
    font-style: italic;
}

.containerPost{
    font-size: 3vw;
    width: 100%;
    border-bottom: 1px solid #EBEDEF;
    padding-bottom: 10px;
}

.postTitle {
    font-size: 2vw;
    font-weight: bold;
    color: #1F618D;
    margin-bottom: 10px;
    /* text-align: center; */
}
.postResume {
    font-size: 1.5vw;
    font-style: italic;
    margin-bottom: 2vw;
    /* text-align: center; */
}

.buttonAddPost{
    border: 2px #1F618D solid;
    color: #1F618D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postPhoto {
    width: 90%;
    height: auto;
}

@media (min-width: 768px) {
    .postPhoto {
        width: 80%;
        height: auto;
    }
    .containerPost{
        font-size: 13px;
    }
    .buttonAddPost{
        width: 45px;
        height: 45px;
        top: 5rem;
        right: 2rem;
    }
}

@media (min-width: 1024px) {
    .postPhoto {
        width: 70%;
        height: auto;
    }
    .containerPost{
        font-size: 15px;
    }
}